@model CatAdoption.Models.Cat

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Successfully added @Model.Name to the database!</h3>

<div class="text-center">
    <img src="~/imgs/@Model.ImagePath" class="img-thumbnail col-lg-6" />
    <h5>@Model.Gender</h5>
    <h5>Age: @Model.Age</h5>
    <p>@Model.Bio</p>
    <a asp-action="Index">Back to List</a>
</div>
