@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Home_Index.css" />

<div id="homePage" class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <a class="btn btn-primary" asp-controller="Cat" asp-action="Index">View Available Cats!</a>
</div>
